@import '../../style/variable.scss';

.item{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: auto;
    margin: 5px 20px;
    padding: 20px;
    border: 1px solid $gray;
    box-shadow: 0 3px 10px $gray;
    border-radius: 5px;
    background-color: $white;
    position: relative;
    &__title{
        display: block;
        font-family: $font-pop;
        font-weight: 700;
        font-size: 20px;
        margin-top: 20px;
        padding: 7px 10px;
        border: 1px dashed $gray;
        border-radius: 5px;
        resize: none;
        &:focus{
            outline: none;
            &::placeholder{
                font-size: 0;
            }
        }
    }
    &__list{
        display: block;
        padding: 5px 0;
        li{
            display: block;
            list-style: none;
            border: 1px solid rgba($gray, 0.5);
            border-radius: 10px;
            padding: 5px;
            margin-bottom: 10px;
            position: relative;
            &:hover{
                .close-item{
                    fill: rgba($black, 0.68);
                    cursor: pointer;
                    transition: 0.3s linear all;
                }
            }
        }
        li > textarea{
            font-family: $font-pop;
            display: flex;
            white-space: normal;
            width: 100%;
            height: auto;
            font-size: 18px;
            border: none;
            resize: none;
            overflow: none;
            &:focus{
                outline: none;
                &::placeholder{
                    font-size: 0;
                }
            }
        }
    }
}

.plus{
    display: block;
    width: 30px;
    height: 30px;
    margin: 15px auto;
    fill: $gray;
    cursor: pointer;
    transition: 0.3s linear all;
    &:hover{
        fill: $black;
        transition: 0.3s linear all;
    }
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    fill: rgba($black, 0.68);
}

.close-item{
    position: absolute;
    top: 2px;
    right: 5px;
    width: 10px;
    height: 10px;
    fill: transparent;
    transition: 0.3s linear all;
}

@media screen and (max-width: 560px) {
    .item{
        width: 200px;
        margin: 5px 10px;
        &__title{
            font-size: 18px;
        }
        &__list{
            li{
                margin-top: 5px;
            }
            li > textarea{
                font-size: 14px;
            }
        }
    }
}