@import '../../style/variable.scss';

.header{
    display: block;
    width: 92%;
    height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    border: 1px solid $light-blue;
    border-radius: 24px;
    z-index: 1;
    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-pop;
        font-size: 36px;
        font-weight: 700;
        color: $item-blue;
        flex-basis: 15%;
        padding: 15px 0 5px;
    }
    &__title{
        color: $white;
        display: flex;
        height: 50px;
        flex-basis: 80%;
        justify-content: center;
        align-items: center;
        font-family: $font-pop;
        font-size: 36px;
        font-weight: 400;
        color: $item-blue;
    }
    &__client{
        display: block;
        width: 50px;
        height: 50px;
        border: 1px solid $item-blue;
        border-radius: 50%;
        margin-top: 5px;
        overflow: hidden;
        img{
            width: 50px;
        }
    }
}

.header-top{
    display: flex;
    height: 13%;
    align-items: center;
}

.header-navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 5%;
    height: 35%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    margin-left: 20px;
    a{
        text-decoration: none;
        svg{
            width: 35px;
            height: 35px;
            transition: 0.3s linear al426l;
            fill: $item-blue;
            &:hover{
                fill: $black;
                transition: 0.3s linear all;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .header-navigation{
        margin-left: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .header{
        &__logo{
            font-size: 30px;
        }
        &__title{
            font-size: 24px;
        }
        &__client{
            margin-right: 20px;
        }
    }
}

@media screen and (max-width: 900px) {
    .header-navigation{
        flex-direction: row;
        width: 300px;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -30%);
    }
}

@media screen and (max-width: 768px) {
    .header{
        &__logo{
            font-size: 24px;
            padding-left: 10px;
        }
        &__title{
            padding-top: 8px;
            font-size: 18px;
        }
        &__client{
            width: 40px;
            height: 40px;
            img{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .header{
        &__logo{
            flex-basis: 30%;
        }
        &__title{
            font-size: 0;
            flex-basis: 50%;
        }
    }

    .header-navigation{
        width: 150px;
        transform: translate(-60%, -30%);
        a > svg{
            width: 25px;
            height: 25px;
        }
    }
}