@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$background: #445f70;
$light-blue: #627e89;
$item-blue: #3389a0;

$gray: #cccccc;
$white: #ffffff;
$black: #000000;

$font-pop: 'Poppins', sans-serif;