@import '../../style/variable.scss';

.desk{
    display: flex;
    width: 91.5%;
    height: 85%;
    background-color: rgba($gray, 0.3);
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 5px;
    z-index: 2;
    overflow-y: scroll;
    padding: 0 5px;
    align-items: flex-start;
}

.add-item{
    display: flex;
    min-width: 200px;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: auto;
    margin: 25px 20px;
    padding: 10px 50px;
    border: 1px dashed rgba($black, 0.42);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear all;
    &:hover{
        background-color: $white;
        transition: 0.3s linear all;
        .add-new-item{
            fill: $black;
            transition: 0.3s linear all;
        }
    }
}

.add-new-item {
    fill: $gray;
    transition: 0.3s linear all;
    width: 40px;
}

.add-text{
    font-family: $font-pop;
    font-size: 16px;
    font-weight:300;
    cursor: pointer;
    margin-left: 15px;
}

.list-desk{
    display: flex;
    padding-left: 0;
}